n8n/workflows/activity-booking.json
{
  "name": "Activity Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-activities",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-activities",
      "name": "Search Activities Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "search-activities"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst searchParams = {\n  location: body.location,\n  date: body.date,\n  category: body.category,\n  priceRange: body.priceRange || { min: 0, max: 500 },\n  interests: body.interests || []\n};\n\nif (!searchParams.location) {\n  return {\n    json: {\n      error: true,\n      message: 'Missing required field: location'\n    }\n  };\n}\n\nreturn { json: searchParams };"
      },
      "id": "validate-activity-params",
      "name": "Validate Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.location }} {{ $json.category || 'tourist attractions tours activities' }}"
            },
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_PLACES_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "google-activities-search",
      "name": "Search Google Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generate mock activity data for demo\nconst params = $input.first().json;\n\nconst activityTypes = [\n  { category: 'culture', name: 'Guided Museum Tour', duration: 180, basePrice: 45 },\n  { category: 'food', name: 'Local Food Walking Tour', duration: 240, basePrice: 75 },\n  { category: 'adventure', name: 'City Bike Tour', duration: 180, basePrice: 55 },\n  { category: 'culture', name: 'Historical Walking Tour', duration: 150, basePrice: 35 },\n  { category: 'entertainment', name: 'Evening Show Tickets', duration: 120, basePrice: 85 },\n  { category: 'nature', name: 'Day Trip Excursion', duration: 480, basePrice: 120 },\n  { category: 'food', name: 'Cooking Class', duration: 180, basePrice: 90 },\n  { category: 'culture', name: 'Art Gallery Tour', duration: 120, basePrice: 40 },\n  { category: 'adventure', name: 'Kayaking Experience', duration: 180, basePrice: 65 },\n  { category: 'entertainment', name: 'Night City Tour', duration: 180, basePrice: 50 }\n];\n\nconst activities = activityTypes\n  .filter(a => !params.category || a.category === params.category)\n  .filter(a => a.basePrice >= params.priceRange.min && a.basePrice <= params.priceRange.max)\n  .map((activity, index) => {\n    const priceVariation = 0.9 + Math.random() * 0.2;\n    const price = Math.round(activity.basePrice * priceVariation);\n    \n    return {\n      id: `activity-${Date.now()}-${index}`,\n      name: `${activity.name} in ${params.location}`,\n      category: activity.category,\n      description: `Experience the best of ${params.location} with this ${activity.name.toLowerCase()}.`,\n      duration: activity.duration,\n      durationText: `${Math.floor(activity.duration / 60)}h ${activity.duration % 60 > 0 ? (activity.duration % 60) + 'm' : ''}`,\n      price: price,\n      currency: 'USD',\n      rating: (4 + Math.random() * 0.9).toFixed(1),\n      reviewCount: 100 + Math.floor(Math.random() * 500),\n      location: params.location,\n      date: params.date,\n      availableSlots: [\n        { time: '09:00', spotsLeft: 5 + Math.floor(Math.random() * 10) },\n        { time: '13:00', spotsLeft: 3 + Math.floor(Math.random() * 8) },\n        { time: '17:00', spotsLeft: 4 + Math.floor(Math.random() * 6) }\n      ],\n      includes: [\n        'Professional guide',\n        activity.category === 'food' ? 'Food tastings' : 'Entry tickets',\n        'Small group experience'\n      ],\n      cancellationPolicy: 'Free cancellation up to 24 hours before',\n      instantConfirmation: Math.random() > 0.3,\n      images: [`https://source.unsplash.com/800x600/?${activity.category},${params.location}`]\n    };\n  });\n\nreturn {\n  json: {\n    success: true,\n    searchParams: params,\n    count: activities.length,\n    activities: activities\n  }\n};"
      },
      "id": "generate-mock-activities",
      "name": "Generate Mock Activities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "You are a local tour guide expert. Given activities in a location, rank them and add personalized recommendations.\n\nFor each activity, add:\n- personalTip: A helpful insider tip\n- bestFor: Who this activity is best suited for (e.g., 'families', 'couples', 'solo travelers')\n- pairsWith: Another activity type it pairs well with\n\nRespond with a JSON array.",
              "role": "system"
            },
            {
              "content": "Activities to enhance for {{ $('Validate Parameters').first().json.location }}: {{ JSON.stringify($json.activities) }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.6,
          "maxTokens": 4500
        }
      },
      "id": "enhance-activities",
      "name": "Enhance with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mockData = $('Generate Mock Activities').first().json;\nconst aiResponse = $input.first().json;\n\nlet enhancedActivities;\ntry {\n  const content = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content;\n  enhancedActivities = JSON.parse(content);\n} catch (e) {\n  enhancedActivities = mockData.activities.map(a => ({\n    ...a,\n    personalTip: 'Book early for the best experience!',\n    bestFor: 'all travelers',\n    pairsWith: 'local dining'\n  }));\n}\n\nreturn {\n  json: {\n    success: true,\n    count: enhancedActivities.length,\n    activities: enhancedActivities\n  }\n};"
      },
      "id": "merge-activities",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-activities",
      "name": "Respond with Activities",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Search Activities Webhook": {
      "main": [
        [
          {
            "node": "Validate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Parameters": {
      "main": [
        [
          {
            "node": "Search Google Places",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Mock Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Mock Activities": {
      "main": [
        [
          {
            "node": "Enhance with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance with AI": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond with Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "travel-guide"
    }
  ]
}


